<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <!-- All Products -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5"
               href="{% url 'products' %}" id="all-products-link" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="#" class="dropdown-item">By Price</a>
                <a href="#" class="dropdown-item">By Rating</a>
                <a href="#" class="dropdown-item">By Category</a>
                <a href="#" class="dropdown-item">All Products</a>
            </div>
        </li>

        <!-- Clothing -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5"
               href="#" id="clothing-link" data-toggle="dropdown">
                Clothing
            </a>
            <div class="dropdown-menu border-0">
                <a href="#" class="dropdown-item">Tops</a>
                <a href="#" class="dropdown-item">Bottoms</a>
                <a href="#" class="dropdown-item">Accessories</a>
            </div>
        </li>

        <!-- Home -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5"
               href="#" id="home-link" data-toggle="dropdown">
                Home
            </a>
            <div class="dropdown-menu border-0">
                <a href="#" class="dropdown-item">Kitchen</a>
                <a href="#" class="dropdown-item">Decor</a>
            </div>
        </li>

        <!-- Special Offers -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black"
               href="#" id="offers-link" data-toggle="dropdown">
                Special Offers
            </a>
            <div class="dropdown-menu border-0">
                <a href="#" class="dropdown-item">New Arrivals</a>
                <a href="#" class="dropdown-item">Deals</a>
                <a href="#" class="dropdown-item">Clearance</a>
            </div>
        </li>

    </ul>
</div>