{% extends "allauth/account/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}
<hr>
<h2 class="logo-font mb-4">{% trans "Sign Up" %}</h2>
<hr>

<p>{% blocktrans %}Already have an account? Then please <a class="link" href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" method="POST" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
    {% endif %}
    <div class="mb-2">
        <button class="btn btn-black rounded-0 text-uppercase" type="submit">
            {% trans "Sign Up" %}
        </button>
    </div>
</form>

<a class="btn btn-outline-black rounded-0 text-uppercase" href="{% url 'home' %}">
    Home
</a>
{% endblock %}